<h1 ><%= current_user.constituency%> Pending Applications</h1>
<div style="display:flex;justify-content:left">
<%=link_to"All Applications",empl_all_path%>
&nbsp &nbsp &nbsp
<%=link_to"Accepted applications",empl_accepted_path%>
&nbsp &nbsp &nbsp
<%=link_to"Rejected applications",empl_rejected_path%>
</div>

<% @appl.each do |a| %>
<% if a.status == "seen" %>
<h1>Application ID: <%= @a.id %></h1>

<span style="background-color:	#DCDCDC ;padding:10px;">
<b>User Image:</b>
<span class="img-thumbnail"><%= image_tag @a.avatar.url(:thumb) %></span>
<br>
<b>First Name:</b><%= @a.first_name %>
<br />
<b>Last Name:</b><%= @a.last_name %>
<br />
<b>Aadhaar:</b><%= @a.aadhaar %>
<br />
<b>Aadhaar Card Image:</b>
<span class="img-thumbnail"><%= image_tag @a.aadharcard.url(:thumb) %></span>
<br>
<b>Father's/Husband's Name:</b><%= @a.father_husband_name %>
<br />
<b>Date of Birth:</b><%= @a.date_of_birth %>
<br />
<b>Gender:</b><%= @a.gender %>
<br />
<b>Medical Status:</b><%= @a.medical %>
<br />
<span class="img-thumbnail"><%= image_tag @a.medcerti.url(:thumb) %></span>
<br>
<b>Address:</b><%= @a.address %>
<br />
<b>Constituency:</b><%= @a.constituency %>
<br />
<b>Mobile:</b><%= @a.mobile %>
<br />
<b>Family Income:</b><%= @a.family_income %>
<br />
<% if @a.incomecertificate != nil %>
<b>Income Certificate:</b>
<span class="img-thumbnail"><%= image_tag @a.incomecertificate.url(:thumb) %></span>
<br>
<% end %>
<b>Points:</b><%= @a.points %>
<br />
<%= render 'applies/formFeed', appl: @a%>
</span>
<hr>

<% end %>
<% end %>
