<h1>Empl</h1>

<% @appl.each do |a| %>
<b>First Name:</b><%= a.first_name %>
<br />
<b>Last Name:</b><%= a.last_name %>
<br />
<b>Aadhaar:</b><%= a.aadhaar %>
<br />
<b>Father's/Husband's Name:</b><%= a.father_husband_name %>
<br />
<b>Date of Birth:</b><%= a.date_of_birth %>
<br />
<b>Gender:</b><%= a.gender %>
<br />
<b>Address:</b><%= a.address %>
<br />
<b>Constituency:</b><%= a.constituency %>
<br />
<b>Mobile:</b><%= a.mobile %>
<br />
<b>Family Income:</b><%= a.family_income %>
<br />
<%= render 'applies/formFeed', appl: a %>
<hr />
<% end %>
