<h1>Constituencies</h1>

<div class="something ">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>PIN Code</th>
        <th>Male Applicants</th>
        <th>Female Applicants</th>
        <th>Vacancies</th>
        <th>statistics</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @const.each do |c| %>
            <td><%= c.id %></td>
            <td><%= link_to c.name, edit_constituency_path(c) %></td>
            <td><%= c.pin_code %></td>
            <td><%= c.male_applicants %></td>
            <td><%= c.female_applicants %></td>
            <td><%= c.number %></td>
            <td><%=link_to"show",show_constituency_path(c.id)%></td>
            <td><%= link_to "Delete", constituencies1_path(c), method: :delete, data: {confirm: "Are you sure you want to delete this constituency?"} %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New", new_constituency_path %>

<br>
<hr style="border:1px solid">
<div class="something ">
  <h1>Employees</h1>
  <%=link_to"Add Employee",user_new_path%>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Constituency</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% User.all.each do |u| %>
        <% if u.user_type == true %>
        <tr>
          <td><%= u.id %></td>
          <td><%= link_to u.email, edit_empl_usr_path(u) %></td>
          <td><%= u.constituency %></td>
          <td><%= link_to "delete", empl_path(u.id), method: :delete, data: {confirm: "Are you sure you want to delete this employee?"} %></td>
        </tr>
        <% end %>
        <% end %>
    </tbody>
  </table>
</div>

<br>
<hr style="border:1px solid">
<div class="something ">
  <h1>Notices</h1>
<%= link_to "New Notice", new_notice_path %>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>By</th>
      <th>Content</th>
      <th>Constituency</th>
      <th>Uploader Id</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% Notice.all.each do |n| %>
      <tr>
        <td><%= n.id %></td>
        <td><%= n.by %></td>
        <td><%= link_to n.content, edit_notice_path(n) %></td>
        <td><%= n.constituency %></td>
        <td><%= n.user_id %></td>
        <td><%= link_to "delete", notice_path(n), method: :delete, data: {confirm: "Are you sure you want to delete this notice?"} %></td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>

<br>
<hr style="border:1px solid">
<div class="something ">
  <h1>Circulars</h1>
<%= link_to "New Circular", new_circular_path %>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>By</th>
      <th>Content</th>
      <th>Uploader Id</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% Circular.all.each do |c| %>
    <tr>
      <td><%= c.id %></td>
      <td><%= c.by %></td>
      <td><%= link_to c.content.html_safe, edit_circular_path(c) %></td>
      <td><%= c.user_id %></td>
      <td><%= link_to "Delete", circular_path(c), method: :delete, data: {confirm: "Are you sure you wnt to delete this circular?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
