
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pension Portal</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="assets/favicon.jpg" rel="icon">
  <link href="assets/favicon.jpg" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="assets/libb/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- assets/libbraries CSS Files -->
  <link href="assets/libb/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/libb/animate/animate.min.css" rel="stylesheet">
  <link href="assets/libb/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="assets/libb/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/libb/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="assets/libb/ionicons/css/ionicons.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="assets/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Reveal
    Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body id="body">

  <!--==========================
    Top Bar
  ============================-->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container clearfix">

      <div class="contact-info float-left" id="a">
        <i class="fa fa-envelope-o"></i><a href="mailto:contact@example.com">contact@example.com</a>
        <i class="fa fa-phone"></i> +1 5589 55488 55
        <i class="fa fa-phone"></i> +91 9999999999
        &nbsp &nbsp &nbsp
        <font size="2"><a href="javascript:void(0);" onclick="changemysize(19);">A</a></font>
        <font size="4"><a href="javascript:void(0);" onclick="changemysize(24);">A</a></font>
        <font size="5"><a href="javascript:void(0);" onclick="changemysize(30);">A</a></font>
</div>
      <div class="contact-info float-left">
        <i class="fa fa-envelope-o"></i> <a href="mailto:contact@example.com">contact@example.com</a>
        <i class="fa fa-phone"></i> +91 9999999999
      </div>
    </div>
  </section>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto">Pension Portal</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="assets/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#body">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <%if !user_signed_in?%>
          <li><a href="/users/sign_in">Login</a></li>
          <%end%>
          <%if user_signed_in?%>
              <%if current_user.admin == true%>
                 <li><%=link_to"Dashborad",admin_index_path%></li>
              <%elsif current_user.user_type == false%>
                 <li><%=link_to"Dashborad",applies_path%></li>
              <%elsif current_user.user_type == true%>
                 <li><%=link_to"Dashborad",empl_index_path%></li>
                 <li><%=link_to"Dashboard",admin_index_path%></li>
              <%elsif current_user.user_type == false%>
                 <li><%=link_to"Dashboard",applies_path%></li>
              <%elsif current_user.user_type == true%>
                 <li><%=link_to"Dashboard",empl_index_path%></li>
              <%end%>
          <%else%>
          <li><a href="/users/sign_up">Apply</a></li>
          <%end%>
          <li><a href="#contact">Contact</a></li>
          <%if user_signed_in?%>
          <li><%=link_to"Logout",destroy_user_session_path, method: :delete%></li>
          <%end%>

        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">

    <div class="intro-content">
      <h2>Marching <span>Towards</span><br>Jan Suraksha!</h2>
      <div>
        <%if !user_signed_in?%>
        <a href="/users/sign_in" class="btn-get-started scrollto">Login</a>
        <a href="/users/sign_up" class="btn-projects scrollto">Apply</a>
        <%else%>
        <%if current_user.admin == false && current_user.user_type==false%>
            <%if !current_user.applied == true%>
              <a href="/applies/new" class="btn-projects scrollto">Apply</a>
            <%end%>
          <%end%>
        <%end%>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel" >
      <div class="item" style="background-image: url('assets/1.jpg');"></div>
      <div class="item" style="background-image: url('assets/2.jpg');"></div>
      <div class="item" style="background-image: url('assets/3.jpg');"></div>
      <div class="item" style="background-image: url('assets/4.jpg');"></div>
      <div class="item" style="background-image: url('assets/5.jpg');"></div>
    </div>

  </section><!-- #intro -->

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 about-img text-center">
            <img src="assets/satya.jpeg" alt="">
          </div>

          <div class="col-lg-6 content" id="b">

          <div class="col-lg-6 content">
            <h2>About Us</h2>
            <p>With a view to bring into existence a centrally controlled administered mechanism involving Pensioners Associations in the country, the Pensioners' Portal would function as a single window mechanism
                <br>The  department  of Pension & Pensioners'  Welfare  is  the nodal department  for  formulation of policies  relating  to pension & other retirement benefits of Central Government Pensioners/Family Pensioners.
                <br>It also serves as a forum for redress of Pensioners' Grievances</p>
          </div>
        </div>

      </div>
    </section><!-- #about -->

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="fa fa-bar-chart"></i></div>
              <h4 class="title"><a href="">Statistics</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident etiro rabeta lingo.</p>
            </div>
          </div>


          <div class="col-lg-6">
            <div class="box wow fadeInRight">
              <div class="icon"><i class="fa fa-picture-o"></i></div>
              <h4 class="title"><a href="">Application Status</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata nodera clas.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-shopping-bag"></i></div>
              <h4 class="title"><a href="">History</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-map"></i></div>
              <h4 class="title"><a href="">Schemes</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum rideta zanox satirente madera</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->


    <!--==========================
      Our Portfolio Section
    ============================-->
    <section id="portfolio" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Gallery</h2>
          <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="assets/p-1.jpg" class="portfolio-popup">
                <img src="assets/p-1.jpg" alt="">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="assets/p-2.jpeg" class="portfolio-popup">
                <img src="assets/p-2.jpeg" alt="" style="height:238px;">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="assets/p-3.jpeg" class="portfolio-popup">
                <img src="assets/p-3.jpeg" alt="" style="height:238px;">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="assets/p-4.jpg" class="portfolio-popup">
                <img src="assets/p-4.jpg" alt="" style="height:238px;">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="assets/p-5.jpeg" class="portfolio-popup">
                <img src="assets/p-5.jpeg" alt="" style="height:238px;">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="assets/p-8.jpg" class="portfolio-popup">
                <img src="assets/p-8.jpg" alt=""  style="height:238px;">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="assets/pension-fund-new.jpg" class="portfolio-popup">
                <img src="assets/pension-fund-new.jpg" alt=""  style="height:238px;">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                </div>
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="portfolio-item wow fadeInUp">
              <a href="assets/pov-pensions.jpg" class="portfolio-popup">
                <img src="assets/pov-pensions.jpg" alt=""  style="height:238px;">
                <div class="portfolio-overlay">
                  <div class="portfolio-info"><h2 class="wow fadeInUp"></h2></div>
                </div>
              </a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #portfolio -->

    <!--==========================
      Call To Action Section
    ============================-->

    <section id="services">

<div class="row text-center">
<div class="col-lg-6">
            <div class="box wow fadeInLeft" data-wow-delay="0.2s">
              <h4 class="title"><a href="">RTI</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
            </div>
          </div>

          <div class="col-lg-6">
                      <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                        <h4 class="title"><a href="">Government Orders</a></h4>
                        <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
                      </div>
                    </div>

                  <div class="col-lg-6">
                              <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                                <h4 class="title"><a href="">FAQ'S</a></h4>
                                <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
                              </div>
                            </div>

                            <div class="col-lg-6">
                                        <div class="box wow fadeInLeft" data-wow-delay="0.2s">
                                          <h4 class="title"><a href="">Discuss</a></h4>
                                          <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur trinige zareta lobur trade.</p>
                                        </div>
                                      </div>
                        </section>

<div>
    <!--==========================
      Our Team Section
    ============================-->
    <section id="team" class="wow fadeInUp">

      <h2 class="text-center">Overall statistics</h2>
      <div style="display: flex;justify-content: space-around;margin: 30px;">
       <div  id="chart_div" style="height:300px;width:180px;margin:10px"><h4>Applications</h4></div>
       <div  id="barchart_values" style="height:300px;width:180px;margin-left:-400px"><h4>Age Distribution</h4></div>
       <div  id="charte_div" style="height:300px;width:180px;margin:10px"><h4>Family Incomes</h4></div>
       <div id="charte_div" style="height:300px;width:180px;margin:10px"><h4>Family Incomes</h4></div>
      </div>
    </section><!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Sed tamen tempor magna labore dolore dolor sint tempor duis magna elit veniam aliqua esse amet veniam enim export quid quid veniam aliqua eram noster malis nulla duis fugiat culpa esse aute nulla ipsum velit export irure minim illum fore</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>A108 Adam Street, NY 535022, USA</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+155895548855">+1 5589 55488 55</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
          </div>

        </div>
      </div>

      <div id="google-map" data-latitude="40.713732" data-longitude="-74.0092704"></div>
<h3 class="text-center">Feedback<h/3>
      <div class="container">
        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Reveal</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript assets/libbraries -->
  <script src="assets/libb/jquery/jquery.min.js"></script>
  <script src="assets/libb/jquery/jquery-migrate.min.js"></script>
  <script src="assets/libb/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/libb/easing/easing.min.js"></script>
  <script src="assets/libb/superfish/hoverIntent.js"></script>
  <script src="assets/libb/superfish/superfish.min.js"></script>
  <script src="assets/libb/wow/wow.min.js"></script>
  <script src="assets/libb/owlcarousel/owl.carousel.min.js"></script>
  <script src="assets/libb/magnific-popup/magnific-popup.min.js"></script>
  <script src="assets/libb/sticky/sticky.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzPgKvqM6tlOgO9r3RS7J4yZxB9b5gLrY"></script>
  <!-- Contact Form JavaScript File -->
  <script src="assets/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="assets/js/main.js"></script>
  <script>
  console.log(current_user.applied)
  </script>

  <html>
    <head>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['gender', 'Length'],
            ['Acrocanthosaurus (top-spined lizard)', 3.2],
            ['Albertosaurus (Alberta lizard)', 13.1],
            ['Apatosaurus (deceptive lizard)', 22.9],
          ['Archaeopteryx (ancient wing)', 0.9],
          ['Argentinosaurus (Argentina lizard)', 36.6],
          ['Baryonyx (heavy claws)', 9.1],
          ['Brachiosaurus (arm lizard)', 30.5],
          ['Ceratosaurus (horned lizard)', 6.1],
          ['Coelophysis (hollow form)', 2.7],
          ['Compsognathus (elegant jaw)', 0.9],
          ['Deinonychus (terrible claw)', 2.7],
          ['Diplodocus (double beam)', 27.1],
          ['Dromicelomimus (emu mimic)', 3.4],
          ['Gallimimus (fowl mimic)', 5.5],
          ['Mamenchisaurus (Mamenchi lizard)', 21.0],
          ['Megalosaurus (big lizard)', 7.9],
          ['Microvenator (small hunter)', 1.2],
          ['Ornithomimus (bird mimic)', 4.6],
          ['Oviraptor (egg robber)', 1.5],

        ['Albertosaurus (Alberta lizard)', 14.1]]);

          var options = {
            title: 'Family Incomes, in meters',
            legend: { position: 'none' },
          };

          var chart = new google.visualization.Histogram(document.getElementById('charte_div'));
          chart.draw(data, options);
        }
      </script>

      <script type="text/javascript">
  google.charts.load("current", {packages:["corechart"]});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ["Element", "Density", { role: "style" } ],
      ["Copper", 8.94, "#b87333"],
      ["Silver", 10.49, "silver"],
      ["Gold", 19.30, "gold"],
      ["Platinum", 21.45, "color: #e5e4e2"]
    ]);

    var view = new google.visualization.DataView(data);
    view.setColumns([0, 1,
                     { calc: "stringify",
                       sourceColumn: 1,
                       type: "string",
                       role: "annotation" },
                     2]);

    var options = {
      title: "Vaccancies",
      width: 600,
      height: 400,
      bar: {groupWidth: "95%"},
      legend: { position: "none" },
    };
    var chart = new google.visualization.BarChart(document.getElementById("barchart_values"));
    chart.draw(view, options);
}
</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2013',  1000,      400],
          ['2014',  1170,      460],
          ['2015',  660,       1120],
          ['2016',  1030,      540]
        ]);

        var options = {
          title: 'Applicants History',
          hAxis: {title: 'Year',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

        <script>
        function changemysize(myvalue) {
            var div = document.getElementById("a");
            div.style.fontSize = myvalue + "px";

            var div = document.getElementById("b");
            div.style.fontSize = myvalue + "px";

            var div = document.getElementById("c");
            div.style.fontSize = myvalue + "px";

            var div = document.getElementById("d");
            div.style.fontSize = myvalue + "px";
            var div = document.getElementById("e");
            div.style.fontSize = myvalue + "px";

            var div = document.getElementById("f");
            div.style.fontSize = myvalue + "px";
            var div = document.getElementById("g");
            div.style.fontSize = myvalue + "px";

            var div = document.getElementById("h");
            div.style.fontSize = myvalue + "px";

            var div = document.getElementById("i");
            div.style.fontSize = myvalue + "px";

            var div = document.getElementById("j");
            div.style.fontSize = myvalue + "px";
          }
    </script>
</body>
</html>
