<!DOCTYPE html>
<html>
  <head>
    <title>SIH18</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= javascript_include_tag "https://www.google.com/jsapi" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js" %>

  </head>

  <body>
      <% if notice %>
      <p class=" custom notice  alert-info" "><%= notice %></p>
    <% elsif alert %>
      <p class="  custom1 alert  alert-error" "><%= alert %></p>
    <% end %>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Pension Portal(Dashboard)</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <% if user_signed_in? %>
            <% if current_user.admin == true %>
            <%= image_tag("admin.svg", :alt => "rss feed", class: "demo-avatar") %>
            <% elsif current_user.user_type == true %>
            <%= image_tag("empl.svg", :alt => "rss feed", class: "demo-avatar") %>
            <% else %>
              <%= image_tag("user.svg", :alt => "rss feed", class: "demo-avatar") %>
            <% end %>
          <% end %>
          <% if user_signed_in? %>
          <div class="demo-avatar-dropdown">
            <span><%= current_user.email %></span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <%= link_to '<li class="mdl-menu__item"><div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">settings</i> Account Settings</div></li>'.html_safe, edit_user_registration_path %>
              <%= link_to '<li class="mdl-menu__item"><div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">note</i> Application Status</div></li>'.html_safe %>
              <%= link_to '<li class="mdl-menu__item"><div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">person</i> Sign Out</div></li>'.html_safe, destroy_user_session_path, method: :delete %>
            </ul>
          </div>
          <% else %>
          <div class="demo-avatar-dropdown">
            <span><%= link_to '<button class="waves-effect waves-light btn">Log In</button>'.html_safe, new_user_session_path %>
            <%= link_to '<button class="waves-effect waves-light btn">Sign Up</button>'.html_safe, new_user_registration_path %></span>
          </div>
          <% end %>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">

          <%= link_to '<div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home</div>'.html_safe, root_path %>
          <%= link_to '<div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home(Dashboard)</div>'.html_safe, home_dashboard_index_path %>
          <%= link_to '<div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>Discussion Forum</div>'.html_safe, questions_path %>
          <%= link_to '<div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">pages</i>FAQs</div>'.html_safe, faqs_index_path %>
          <%= link_to '<div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">class</i>Circulars</div>'.html_safe, circulars_index_path %>
          <%= link_to '<div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">picture_in_picture</i>Notices</div>'.html_safe, notices_path %>

          <%= link_to '<div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">movie_creation</i>Tutorials</div>'.html_safe, tutorials_index_path %>
          <%= link_to '<div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assessment</i>Statistics</div>'.html_safe, stats_path %>
          <%= link_to '<div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assignment_turned_in</i>Application Status</div>'.html_safe, app_status_index_path %>


          <div class="mdl-layout-spacer"></div>
          <%= link_to '<div class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i>Contact</div>'.html_safe, contact_index_path %>
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
          <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
            <%= yield %>
          </div>
          <% if user_signed_in? %>
          <% if current_user.admin != true %>
          <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing" style="position:fixed;width:25%;margin-left:54%">
          <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">

              <div class="mdl-card__title mdl-card--expand mdl-color--teal-400">
                <h2 class="mdl-card__title-text">Vacancies</h2>
              </div>
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <ul class="collection">
                  <% Constituency.all.each do |c| %>
                  <% if c.number != 0 %>
                    <h1><li class="collection-item"><%= c.name %>:<%= c.number %></li></h1>
                  <% end %>
                  <% end %>
                </ul>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a href="/notices" class="mdl-button mdl-js-button mdl-js-ripple-effect">Notice</a>
              </div>
            </div>
            <div class="demo-separator mdl-cell--1-col"></div>

          </div>
          <% end %>
          <% end %>
        </div>
      </div>

      </main>
    </div>


<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>

          </div>
        </div>


      </main>
    </div>

<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script>



var fade_out = function(){
$(".custom1").fadeOut().empty();

$(".custom").fadeOut().empty();
  };


$('.custom1').click(function(){
  console.log("clicked");
  fade_out();
});
$('.custom').click(function(){
  console.log("clicked");
  fade_out();
});
setTimeout(fade_out,5000);




</script>
  </body>
</html>
